@model WebApp.ServiceModeloNegocio.Order

<h3>Esta seguro que desea eliminar la siguiente orden?</h3>
<div>
    <h4>Orden</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Customer_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Customer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger"/> |
            @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
