@model WebApp.ServiceModeloNegocio.Order

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Customer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Customer_name)
        </dd>
        <dt>Detalle</dt>
        <dd>
            <ul>
               @foreach (var item in Model.Details)
               {
                <li><p>Producto: <span>@item.Product.Product_name</span> Cantidad: <span>@item.Quantity</span></p></li>
               }
               
            </ul>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
