@model WebApp.ServiceModeloNegocio.Order


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Orden</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label for="CustomerID" class="control-label col-md-2">Cliente</label>
        <div class="col-md-10">
            <select class="form-control" name="customerID">
                <option value="">Seleccione un Cliente</option>
                @foreach (var customer in ViewBag.CustomersList)
                {
                    <option value=@customer.CustomerID @(ViewBag.OrdenAeditar.Customer.CustomerID == customer.CustomerID? "selected='selected": "")>@customer.Customer_name</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Productos</label>
        <div class="col-md-10">
            <ul class="list-group">
                @for (var index = 0; index < ViewBag.ProductosDisponibles.Length; index++)
                {
                    <li class="list-group-item">
                        @Html.HiddenFor(x => Model.Details[index].ProductID, new { Value = ViewBag.ProductosDisponibles[index].ProductID })
                        @ViewBag.ProductosDisponibles[index].Product_name
                        @Html.DropDownListFor(m => Model.Details[index].Quantity, new SelectList(ViewBag.CantidadProductos))
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
