@model ICollection<WebApp.ServiceModeloNegocio.Order>

<p>
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-lg btn-default" })
</p>
<table class="table">
    <tr>
        <th>Fecha del pedido</th>
        <th>id cliente</th>
        <th>Cliente</th>
        <th>Estado</th>
        <th>Opciones</th>
    </tr>

@foreach (var order in Model) {
<tr>
    <td>@Html.DisplayFor(modelItem => order.Order_date)</td>
    <td>@Html.DisplayFor(modelItem => order.CustomerID)</td>
    <td>@Html.DisplayFor(modelItem => order.Customer.Customer_name)</td>
    <td>@Html.DisplayFor(modelItem => order.Estado)</td>
    
        <!--Opciones-->
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = order.OrderID }) |
        @Html.ActionLink("Detalles", "Details", new { id = order.OrderID }) |
        @Html.ActionLink("Borrar", "Delete", new { id = order.OrderID })
    </td>
</tr>
}

</table>
