@model ICollection<WebApp.ServiceModeloNegocio.Order>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Fecha del pedido</th>
        <th>id cliente</th>
        <th>Cliente</th>
        <th>Estado</th>
        <th>Opciones</th>
    </tr>

@foreach (var order in Model) {
<tr>
    <td>@Html.DisplayFor(modelItem => order.Order_date)</td>
    <td>@Html.DisplayFor(modelItem => order.CustomerID)</td>
    <td>@Html.DisplayFor(modelItem => order.Customer.Customer_name)</td>
    <td>@Html.DisplayFor(modelItem => order.Estado)</td>
    
        <!--Opciones-->
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = order.OrderID }) |
        @Html.ActionLink("Details", "Details", new { id = order.OrderID }) |
        @Html.ActionLink("Delete", "Delete", new { id = order.OrderID })
    </td>
</tr>
}

</table>
