@model IEnumerable<Order_Grabber_Web.ServiceCustomer.Customer>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.client_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.document_nro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.document_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.document_nro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.document_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
