@model WebApp.ServiceModeloNegocio.Customer

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_name)
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Document_type)</dt>
        <dd>@Html.DisplayFor(model => model.Document_type) </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document_nro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document_nro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Estado)</dt>
        <dd>@Html.DisplayFor(model => model.Estado) </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CustomerID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
</p>
